# Enterprise architect model
*.EAP
*.zargo
*.zargo~
*.ldb

# pctGen testCases
*.prj

# Exported diagrams
diagrams/*.xml
diagrams/*.DTD
#diagrams/*.png

# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/

# NetBeans
nbproject/